.ReactModalPortal * {
    transition: all 200ms ease-out;
}

.ReactModalPortal, .ReactModal__Overlay {
    z-index: 3
}

.ReactModalPortal .Modal {
    position: absolute;
    top: 10%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translateX(-50%);
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0);
    max-height: calc(100vh - 20%);
}

.ReactModalPortal .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.541);
}

.ReactModalPortal .Modal .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.ReactModalPortal .heading {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body{
    max-height: calc( 80vh - 70px);
    overflow: auto;
}

.ReactModalPortal .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    max-height: 100%;
}

.ReactModalPortal .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.ReactModalPortal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 25px;
    font-weight: 500;
}

.ReactModalPortal .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 30px;
    border: none;
    background: transparent;
    color: #666
}

.ReactModalPortal .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.ReactModalPortal .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.ReactModalPortal .modal-content.closing {
    transform: translateY(-70%);
    opacity: 0;
}

.ReactModalPortal .Overlay.closing {
    opacity: 0;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open.Overlay{
    overflow: auto;
}

@media screen and (max-width: 1200px) {
    .ReactModalPortal .Modal {
        min-width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .ReactModalPortal .Modal {
        min-width: 90%;
    }
}