.textField {
    background-color: #f5f5f5;
    font-size: 15px;
}

.textField textarea {
    background-color: transparent;
    font-size: 15px;
    font-family: monospace;
    width: 100%;
    border: none;
    resize: none;
    padding: 0px;
    outline: 0px;
}

.preTextField, .postTextField {
    height: 20px;
}

.textField .mainTextField {
    height: 100px;
    padding-left: 50px;
    width: calc(100% - 50px);
}


.textField:focus{
    outline: auto;
}

.textField .docStr{
    background-color: transparent;
    font-size: 15px;
    font-family: monospace;
    width: 100%;
    white-space: break-spaces;
}