.header {
    background: #fff;
    user-select: none
}

.toolbar {
    height: 64px;
    display: flex;
    box-sizing: border-box;
}

.toolbar .tool {
    padding: 10px;
    padding-bottom: 5px;
    display: inline-flex;
    flex-direction: column;
    width: 64px;
    height: 100%;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.3);
    transition: none;
}
.toolbar .tool.active{
    color: #333;
}

.toolbar .tool-text-only {
    font-size: 16px;
    color: #888;
    height: 100%;
    padding: 10px;
}

.toolbar .tool.active:hover {
    background: rgba(0, 0, 0, 0.05);
}

.toolbar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar .space {
    display: inline-flex;
    flex: 1;
}

.titlebar {
    padding: 0px 10px;
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 3px;
    background-color: #1e88e5;
    color: #fff;
    padding-left: 20px;
    box-sizing: border-box;
}

.sep {
    background: rgba(0, 0, 0, 0.1);
}

.Vsep {
    display: inline-flex;
    height: 80%;
    margin: auto;
    width: 1px;
    vertical-align: bottom;
}

.hsep {
    width: 100%;
    height: 1px;
}