*{
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.body{
  width: 100%;
  height: calc(100vh - 96px);
  padding: 50px;
  background-color: rgb(240, 242, 245);
  box-sizing: border-box;
}

.graph-container{
  background-color: #fff;
  height: -webkit-fill-available;
  box-sizing: border-box;
}

.middle{
  display: flex;
  justify-content: center;
  align-items: center;
}