* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  width: 100vw;
  background: red;
  flex-direction: column;
}

.body {
  padding: 50px;
  background-color: rgb(240, 242, 245);
  height: -webkit-fill-available;
  flex: 1;
}

.graph-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .body {
    padding: 40px;
  }
}

@media screen and (max-width: 650px) {
  .body {
    padding: 35px;
  }
}

@media screen and (max-width: 500px) {
  .body {
    padding: 20px;
  }
}